body {
  margin: 0px;
  padding: 0px;
}

#container1 {
  width: 100vw;
  height: 160px;
  background-color: rgb(223, 117, 117);
  margin: 0px;
}

#bigText {
  display: inline-block;
  margin: 0px;
  font-size: xx-large;
  position: relative;
  top: 70px;
  left: 20px;
}

#menuItems1 {
  position: relative;
  display: inline-block;
  font-size: x-large;
  margin: 0px;
  top: 70px;
  left: 80px;
}

#menuItems2 {
  position: relative;
  display: inline-block;
  font-size: x-large;
  margin: 0px;
  top: 70px;
  left: 140px;
}

#menuItems3 {
  position: relative;
  display: inline-block;
  font-size: x-large;
  margin: 0px;
  top: 70px;
  left: 200px;
}

#container2 {
  box-sizing: border-box;
  margin: 10px;
  border: black dotted 5px;
  width: 98vw;
  height: 400px;
}

#bigText2 {
  margin: 10px;
  position: relative;
  top: 30px;
  left: 10px;
  font-size: x-large;
}

#image1 {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
  position: relative;
  top: 50px;
  left: 15px;
}

#text2 {
  display: inline-block;
  box-sizing: content-box;
  height: 100px;
  width: 75%;
  font-size: large;
  position: relative;
  left: 30px;
  bottom: 30px;
}

#text3 {
  display: inline-block;
  box-sizing: content-box;
  height: 100px;
  width: 75%;
  font-size: large;
  position: relative;
  left: 200px;
  bottom: 50px;
}

#container3 {
  box-sizing: border-box;
  margin: 10px;
  border: black dotted 5px;
  width: 98vw;
  height: 450px;
}

#bigText3 {
  box-sizing: content-box;
  margin: 10px;
  position: relative;
  top: 30px;
  left: 10px;
  font-size: x-large;
}

#text4 {
  display: inline-block;
  box-sizing: content-box;
  height: 100px;
  width: 75%;
  font-size: large;
  position: relative;
  left: 20px;
  bottom: 60px;
}

#text5 {
  display: inline-block;
  box-sizing: content-box;
  height: 100px;
  width: 75%;
  font-size: large;
  position: relative;
  left: 20px;
  bottom: 110px;
}

#image2 {
  box-sizing: content-box;
  float: inline-end;
  shape-outside: square;
  height: 150px;
  width: 150px;
  margin: 10px;
  position: relative;
  top: 50px;
  left: 15px;
}

#text6 {
  display: inline-block;
  box-sizing: content-box;
  height: 100px;
  width: 95%;
  font-size: large;
  position: relative;
  left: 20px;
  bottom: 110px;
}